header{
  text-align: center;
  color: IndianRed;
  border: 2px solid MediumVioletRed;
  border-width: medium;
  border-color: DarkMagenta;
  background-color: Plum;
}
h1{
  text-decoration: underline;
  font-weight: 900;
}
footer{
  text-align: center;
  color: IndianRed;
  border: 2px solid MediumVioletRed;
  border-width: medium;
  border-color: DarkMagenta;
  background-color: Plum;
  font-style: italic;
}
*{
  font-family: Tahoma;
  background-color: LightPink;
}
a{
  color: IndianRed;
  border: 2px solid MediumVioletRed;
  border-width: medium;
  border-color: DarkMagenta;
}
