header{
  text-align: center;
  color: IndianRed;
  border: 2px solid MediumVioletRed;
  background-color: Plum;
}
h1{
  text-decoration: underline;
  font-weight: 900;
}
footer{
  text-align: center;
  color: IndianRed;
  border: 2px solid MediumVioletRed;
  background-color: Plum;
  font-style: italic;
}
*{
  font-family: Tahoma;

   background-image: url("https://www.google.com/search?q=naruto+backgrounds&safe=strict&rlz=1C1CHBF_enUS909US909&source=lnms&tbm=isch&biw=1280&bih=610#imgrc=PAIYOyLz-kj9gM");
}
a{
  color: IndianRed;
}
